@import url(style-home.css);
@import url(reset.css);
@import url(style-contatos.css);
@import url(style-produtos.css);



body {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    font-family: sans-serif;

}

header {
    background-image: url(imagem_fundo_mobile.jpg);
    padding: 20px 0;
    height: 250px;

}

.caixa img {
    width: 200px;
    height: 200px;
}


.caixa {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 350px;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav li {
    height: 20px;
    text-align: center;
    margin-right: 20px;
}


nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: 800;
    font-size: 20px;
    text-decoration: none;

}


nav a:hover {
    text-decoration: underline;
    text-decoration: none;
    text-shadow: 0 0 20px red;

}

footer img {
    width: 200px;
    height: 200px;

}

footer {
    background-image: url(imagem_fundo_mobile.jpg);
    text-align: center;
    width: 100%;
    padding: 40px 0;
}



.copyright {
    color: #000000;
    margin: 20px 0 0;
    font-weight: 600;
}


@media screen and (max-width: 600px) {


    header{
        height: 250px;
    }

    .caixa {
        display: flex;
        flex-direction: column;
    }

    .caixa h1 {
        text-align: center;
        margin-bottom: 10px;
    }


    nav {
        margin: 0 auto;
        display: block;

    }

}