



.cotainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(56, 55, 55);
}

.produtos {
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: space-around;

}


.produtos li {
    text-align: center;
    width: 25%;
    padding: 30px 20px;
    box-sizing: border-box;
    background-color: rgb(221, 221, 221);
    border-radius: 10px;
    transition: transform 0.2s
}



.produtos li:hover {
    transform: scale(1.1);
    color: rgb(172, 94, 21);
    border: 5px solid rgb(172, 94, 21) ;
}


.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produtopreso {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}



@media screen and (max-width: 600px){


    
    .produtos{
        display: flex;
        flex-direction: column;
        padding-top: 20px;
    }

    .produtos li{
        width: calc(100% - 50px);
       margin: 20px auto;
    
    }
    
}